doctype html
html(lang="en")
    head
        - var author = "clonalejandro"
        - var twitter = "clonalejandro11"
        - var title = `${webName}`
        
        meta(name="DC.title", content=`${title}`)
        meta(property="og:title", content=`${title}`)
        meta(name="twitter:title", content=`${title}`)
        meta(charset="utf-8")
        meta(lang="es")
        meta(http-equiv="Content-Language", content="en")
        meta(http-equiv="Content-Type", content="text/html; charset=UTF-8")
        meta(name="description", content=`${description}`)
        meta(name="keywords", content=`${tagsString}`)
        meta(name="author", content=`${author}`)
        link(rel="apple-touch-icon", sizes="120x120", alt=`${title}`, href=`${logo}?size=120`)
        link(rel="apple-touch-icon", sizes="152x152", alt=`${title}`, href=`${logo}?size=152`)
        link(rel="icon", href=`${logo}`, alt=`${title}`, type="image/png")
        link(rel="shortcut icon", href=`${logo}`, alt=`${title}`, type="image/png")
        meta(name="robots", content="all")
        meta(name="distribution", content="global")
        meta(name="google", content="translate")
        meta(name="DC.creator", content=`${author}`)
        meta(name="DC.description", content=`${description}`)
        meta(property="og:description", content=`${description}`)
        meta(property="og:type", content="website")
        meta(property="og:url", content=`${webURI}`)
        meta(property="og:image", content=`${logo}`)
        meta(property="og:site_name", content=`${title}`)
        meta(name="twitter:card", content="summary")
        meta(name="twitter:site", content=`${twitter}`)
        meta(name="twitter:description", content=`${description}`)
        meta(name="twitter:image", content=`${logo}`)
        meta(name="twitter:url", content=`${webURI}`)
        meta(name="generator", content="clonacms")
        meta(name="viewport", content="width=device-width, initial-scale=1.0, shrink-to-fit=no")
        meta(name="theme-color", content="#000000")
        
        title #{title}
        
        include helpers/cookies.pug
        include helpers/assets.pug
        link(rel='stylesheet', href="assets/css/panel.css")
        link(rel='stylesheet', href="assets/css/menu.css")
        body
            //Modal Room create
            div.modal#modalNewFolder(role="dialog")
                div.modal-dialog(role="document")
                    div.modal-content
                        div.modal-body
                            form(onsubmit="processCreateFolder()")
                                div.form-group
                                    input.form-control(placeholder="Folder name", maxlength=32, name="folder", required)
                                button.left.btn.btn-success(type="submit") Ok!
                                button.right.btn.btn-danger(data-dismiss="modal") Cancel

            div#drop.hide
                button.btn.btn-danger#close
                    i.fa.fa-times
                center.center
                    form(action="/", method="post", enctype="multipart/form-data")
                        div.drop-content
                            h1
                                i.fa.fa-cloud-upload
                            br
                            div#footer
                                input(type='file', name="files", multiple)
                                strong.def Choose a file 
                                span.def or drag it here.
                                span.nodef.hide Done! 
                                    br 
                                    | If you want you can upload more files
                            div.container.prog.hide
                                h4 Uploading... 
                                    span.percent 0%
                                br
                                div.progress
                                    div.progress-bar.progress-bar-striped.progress-bar-animated(role="progressbar", aria-valuenow="0", aria-valuemin="0", aria-valuemax="100", style="width: 0%")
            div#wrapper
                nav#sidebar
                    div#dismiss
                        i.fa.fa-arrow-left
                    div.sidebar-header
                        h3 Cloud 
                            i.fa.fa-cloud
                    ul.list-unstyled.components
                        p My cloud 
                        li.active
                            a(href="#")
                                i.fa.fa-home
                                |  Home
                        li
                            a(href="#homeSubmenu", data-toggle="collapse", aria-expanded="false")
                                i.fa.fa-share-alt
                                |  Shared
                            ul.collapse.list-unstyled#homeSubmenu
                                li
                                    a(href="#")
                                        i.fa.fa-user
                                        |  Shared with me 
                                    a(href="#")
                                        i.fa.fa-users
                                        |  Shared with others 
                        li
                            a(href="/?dir=/temp_bin")
                                i.fa.fa-trash
                                |  Bin
                    ul.list-unstyled.CTAs
                        li
                            a.support(href=`mailto:${email}Subject=Support%20help`, target="top") 
                                i.fa.fa-envelope 
                                |  Support
                            a.open-source(href="https://github.com/clonalejandro/cloud", target="_blank")
                                i.fa.fa-github
                                |  Open Source
                div.overlay
                nav.navbar.navbar-expand-lg.navbar-light.bg-light
                    a.navbar-brand(href="/")
                        img(src="", data-src="data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4KCjxzdmcgdmVyc2lvbj0iMS4w%0D%0AIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI2NHB4IiBoZWlnaHQ9%0D%0AIjY0cHgiIHZpZXdCb3g9IjAgMCA0NjAgMzYwIiBwcmVzZXJ2ZUFzcGVjdFJhdGlvPSJ4TWlkWU1p%0D%0AZCBtZWV0Ij4KICA8ZyB0cmFuc2Zvcm09InRyYW5zbGF0ZSgwLjAwMDAwMCw0NjAuMDAwMDAwKSBz%0D%0AY2FsZSgwLjEwMDAwMCwtMC4xMDAwMDApIiBmaWxsPSIjMDAwMDAwIiBzdHJva2U9Im5vbmUiPgog%0D%0AICAgPHBhdGggZD0iTTIwMjIgMzM3MCBsMyAtNTgxIDE2OSAtNSBjMTMzIC00IDE3MSAtMiAxNzcg%0D%0AOCAxMCAxNSAxMiA5MDggMiAxMDUxCi03IDExMiAtMyAxMDkgLTEwNyA3NyBsLTY2IC0yMSAtNzMg%0D%0AMjEgYy0zOSAxMiAtODAgMjQgLTkwIDI2IC0xNiA1IC0xNyAtMjUKLTE1IC01NzZ6Ii8+CiAgICA8%0D%0AcGF0aCBkPSJNMTE4MSAyNjA2IGMyIC0yIDE2NiAtODYgMzY0IC0xODYgMTk4IC0xMDAgMzY1IC0x%0D%0AODggMzcxIC0xOTQgMTIKLTExIDE0NCAtNDI0IDE0NCAtNDQ5IDAgLTE1IC02MzQgLTYwMCAtNjU1%0D%0AIC02MDUgLTEzIC0zIDQxIC02MiA4MyAtOTAgMTUgLTEwCjIyIC0yMiAxOSAtMzQgLTQgLTE0IDcg%0D%0ALTggMzcgMTkgMjMgMjEgMTExIDEwMSAxOTYgMTc5IDI5NSAyNjggMzQ1IDMxMyAzNDgKMzA5IDYg%0D%0ALTYgNzMgLTcyMCA2OCAtNzM4IC0yIC05IDAgLTE3IDUgLTE3IDUgMCA5IDQgOSA5IDAgNiAxMiA2%0D%0AIDMyIDAgNDQgLTEyCjQ4IC0xMiA0MSA3IC02IDE3IDU3IDcxNSA2NiA3MjYgNiA3IDM4IC0yMSAz%0D%0AODQgLTMzNCAxMDcgLTk4IDE5OSAtMTc4IDIwNQotMTc4IDIxIDAgOTEgNjEgMTE4IDEwNCAxNiAy%0D%0ANyA0NyA1OCA3MiA3MiA2NiAzOSA0OSAzOCAtMjMgLTIgLTM2IC0yMCAtNjkKLTM0IC03NCAtMzIg%0D%0ALTUgMSAtMTU1IDEzNyAtMzM0IDMwMSBsLTMyNSAyOTcgNjUgMjA4IGMzNiAxMTQgNzAgMjE4IDc2%0D%0AIDIzMSA5CjE3IDExMSA3MyAzODIgMjEwIDIzNiAxMTggMzYyIDE4NyAzNDggMTg5IC0xMSAyIC0y%0D%0AMzQgLTkgLTQ5NSAtMjMgLTI2MCAtMTUKLTUwNCAtMjYgLTU0MyAtMjYgLTM4IDEgLTI3MCAxMiAt%0D%0ANTE1IDI2IC00ODYgMjcgLTQ3NSAyNyAtNDY5IDIxeiIvPjwvZz4KPC9zdmc+Cg==", alt=`${webName}`)
                    button.navbar-toggler(type="button", data-toggle="collapse", data-target="#navbar", aria-controls="navbar", aria-expanded="false", aria-label="Toggle navigation")
                        span.navbar-toggler-icon
                    div.collapse.navbar-collapse#navbar
                        ul.navbar-nav.mr-auto
                            li.nav-item
                                button.btn.rounded#openSidebar 
                                    i.fa.fa-cloud.nav-icon
                            if isAdmin
                                li.nav-item.dropdown
                                    a(href="#", role="button", id="serverDropdown", data-toggle="dropdown", aria-haspopup="true", aria-expanded="false")
                                        i.fa.fa-connectdevelop.nav-icon
                                    div.dropdown-menu(aria-labelledby="serverDropdown")
                                        a.dropdown-item#joinPanel(href="#") Join a AdminPanel 
                                            i.fa.fa-tachometer
                                        a.dropdown-item(href="#") more... 
                                            i.fa.fa-question
                        ul.nav.navbar-nav.navbar-right
                            li.nav-item.margin-rigth
                                i.fa.fa-search#openSearch
                            li.nav-item.dropdown
                                a.dropdown-toggle(href="#", role="button", id="userDropdown", data-toggle="dropdown", aria-haspopup="true", aria-expanded="false")
                                    | #{username}
                                div.dropdown-menu(aria-labelledby="userDropdown")
                                    a#settings.dropdown-item(href="#") Settings 
                                        i.fa.fa-cog
                                    a#deleteProfile.dropdown-item(href="#") Delete profile 
                                        i.fa.fa-trash
                                    a#logout.dropdown-item(href="#") Logout 
                                        i.fa.fa-sign-out
                //Notifications
                div.container#notifications
                    include helpers/noscript.pug
                
                //Content
                div.container#main
                    button.btn.btn-primary#back
                        i.fa.fa-arrow-left
                    nav.nav#nav-router
                        a.nav-link.nav-icon.route(href="/?dir=/", data-dir="/")
                            i.fa.fa-home
                        a.prompt
                            i.fa.fa-angle-right.nav-icon
                    div.hide#tempFiles
                        each file in files
                            p.tempFile= file
                    div.files
            script(src="assets/js/menu.js")
            script(src="assets/js/panel.js")